.nav-link {
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    overflow: none;
}

.nav-item.active {
    background-color: #2f3742;
}

.view {
    display: none;
    padding-top: 70px;
    padding-bottom: 70px;
    
}